@tailwind base;
@tailwind components;
@tailwind utilities;

#tasklist::-webkit-scrollbar{
    display: none;
}
#alltask::-webkit-scrollbar{
    display: none;
}

/* Set the background color to #1c1c1c for the entire page */
body {
    background-color: #1c1c1c;
}